// Color
$whitecolor:#fff;
$headerwhitebg:rgba(255, 255, 255, 0.9);
$headerwhitebg2:rgba(255, 255, 255, 0.05);
$growthbg:linear-gradient(to right top, #091222, #0b1122, #0d1021, #0f0f21, #110e20, #130d20, #140d1f, #160c1f, #180b1e, #1a0a1e, #1b091d, #1d081c);
$skybluecolor:#2e57aa;
$pinkcolor:#91288d;
$sustanibilitybg:linear-gradient(to right top, #091122, #0b1022, #0d1021, #0f0f21, #110e20, #130d20, #140d1f, #160c1f, #180b1e, #1a0a1e, #1b091d, #1d081c);
$newsroombg:linear-gradient(to right top, #050911, #060911, #070811, #080710, #090710, #0a0610, #0a0610, #0b0510, #0c0510, #0d040f, #0e040f, #0f040e);
$graycolor:#C1C1C1;
$timelinecolor:#FDF7EE;
$black:#000;
$careerbg:linear-gradient(to right, #091122, #0b1022, #0d1021, #0e0f21, #100e20, #120d20, #130d1f, #150c1f, #170b1f, #190a1e, #1b091d, #1d081c);
$foundationbg:linear-gradient(to right, #050911, #060911, #070811, #080710, #090710, #0a0610, #0a0610, #0b0510, #0c0510, #0d040f, #0e040f, #0f040e);
$bordergradient:  linear-gradient(to right, #3752a7, #56429e, #7d2f94) 1;
$footergradient: linear-gradient(to right top, #0d1021, #0f0f21, #100f21, #120e20, #130d20, #140c1f, #160c1f, #170b1e, #180a1e, #190a1d, #1a091d, #1b081c);
$businessbg:linear-gradient(to right top, #050911, #060911, #070811, #080710, #090710, #0a0610, #0a0610, #0b0510, #0c0510, #0d040f, #0e040f, #0f040e);
$transition:all 0.2s linear;
$headehover:linear-gradient(to right, #2e57aa 0%, #91288d 100%);
$headeright:linear-gradient(to right, #252626 0%, #232426 100%);
$grayheader:linear-gradient(to right, #34353b, #35353b, #35353b, #36353a, #36353a, #37353a, #37353a, #38353a, #38353a, #39343a, #393439, #3a3339);
$pinkdarkbgcolor:linear-gradient(to right top, #050911, #060911, #070811, #080710, #090710, #0a0610, #0a0610, #0b0510, #0c0510, #0d040f, #0e040f, #0f040e);
$darkbg:linear-gradient(to right top, #050911, #060911, #070811, #080710, #090710, #0a0610, #0a0610, #0b0510, #0c0510, #0d040f, #0e040f, #0f040e);
$lightbg:linear-gradient(to right top, #091222, #0b1122, #0d1021, #0f0f21, #110e20, #130d20, #140d1f, #160c1f, #180b1e, #1a0a1e, #1b091d, #1d081c);
$graycolor2:#808080;
$darkpinkcolor:linear-gradient(to right, #0a1122, #100f22, #150d20, #190b1f, #1d081c);
$tagbg:linear-gradient(to right, #2E57AA 0%, #91288D 100%);
$headerwhitebg:#ffffff;
$headergraybg:#f4f4f4;

//Font-family
$adanifont:'Adani';
